{
    "presets": [
        [
            "@babel/preset-env", // 根据浏览器和运行环境，自动的确定 babel 插件和 polyfills
            {
                "useBuiltIns": "usage", // 在每个文件中使用polyfill时，为polyfill添加特定导入。利用捆绑器只加载一次相同的polyfill。
                "modules": false, // 启用将ES6模块语法转换为其他模块类型，设置为false不会转换模块。
                "uglify":true // 压缩代码
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-transform-runtime",{
            "corejs": 3
        }]
    ]
}
