.step-tooltip-backdrop {
    display: inline-block;
    background: #f9f9f9;
    color: #000;
    padding: 24px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
