.step-tooltip-backdrop {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    box-sizing: content-box;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.8);
}

.step-tooltip-active-container {
    position: absolute;
    z-index: 999998;
    box-sizing: border-box;
    word-break: break-all;
    background: #f9f9f9;
    max-width: 500px;
    min-width: 100px;
    color: #000;
    padding: 24px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);

    transition-property: transform;
    will-change: transform;
    transform: translate(0, 0);
    transition: transform 0.15s ease-out;
}

#step-tooltip-active-container-text {
    margin-bottom: 20px;
}

.step-tooltip-next,
.step-tooltip-back,
.step-tooltip-end {
    padding: 4px 10px;
    font-size: 12px;
    color: #2d2d2d;
    background: #fff;
    border: 1px solid #dadada;
    border-radius: 10%;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;
    margin: 0 2px;
}

.step-tooltip-footer {
    display: flex;
    justify-content: space-between;
}

.scroll-disabled {
    overflow: hidden;
    -webkit-overflow-scrolling: hidden;
}

.step-tooltip-disabled-btn[disabled] {
    cursor: not-allowed;
    background: #dadada;
    color: #f6f6f6;
}

/* arrow */
.step-tooltip-arrow-bottom :after,
.step-tooltip-arrow-top :after,
.step-tooltip-arrow-left :after,
.step-tooltip-arrow-right :after {

    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 10px;
}

.step-tooltip-arrow-bottom :after {
    bottom: 100%;
    left: 50%;
    border-bottom-color: #fff;
    margin-left: -10px;
}
.step-tooltip-arrow-top :after {
    top: 100%;
    left: 50%;
    border-top-color: #fff;
    margin-left: -10px;
}
.step-tooltip-arrow-left :after {
    left: 100%;
    top: 50%;
    border-left-color: #fff;
    margin-top: -10px;
}
.step-tooltip-arrow-right :after {
    right: 100%;
    top: 50%;
    border-right-color: #fff;
    margin-top: -10px;
}
